@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
* {
    padding: 0%;
    margin: 0%;
    font-family: 'Work Sans', sans-serif;
    text-align: start;
}


/* Background */

.fondo {
    background-image: url(../img/background.gif);
    background-size: cover;
}


/* Header */

.redondearImg {
    border-radius: 50%;
    height: 180px;
    display: block;
    object-fit: contain;
    object-position: initial;
    filter: none;
}

@media (max-width: 767.98px) {
    .tamanioImgSm {
        height: 135px;
    }
}


/* Acordeon */

.accordion-button:not(.collapsed) {
    color: whitesmoke;
    background-color: #212529;
}