@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
* {
    padding: 0%;
    margin: 0%;
    font-family: 'Work Sans', sans-serif;
    text-align: start;
}


/* Background */

.fondo {
    background-image: url(../img/fondo.png);
    background-size: cover;
}


/* Header */

.redondearImg {
    border-radius: 50%;
    height: 180px;
    display: block;
    object-fit: contain;
    object-position: initial;
    filter: none;
}

.sombra {
    box-shadow: 0px 0px 58px -13px rgba(0, 0, 0, 0.83);
}


/* Acordeon */

.accordion-button:focus {
    border-color: #dc35463a;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: whitesmoke;
    background-color: #212529;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/flechaAbajo.png);
}

.accordion {
    border-color: rgb(150, 34, 140);
}

.quitarBordes {
    border: none;
    border-bottom: 1px solid #212529;
}


/* Album */

.quitarBordesAlbum {
    border: none;
}

.card {
    width: 60%;
}


/* Footer */

.fondoFooter {
    background-color: #ffffff00;
    background-image: linear-gradient(180deg, #ffffff00 0%, #69696b56 50%, #4e4c4c79 100%);
}

.botonYouTube {
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
}

@media (max-width: 767.98px) {
    .tamanioImgSm {
        height: 135px;
    }
    .fondoSM {
        background-image: url(../img/fondo.png);
        background-size: auto;
    }
    .miniaturaTamanioSM {
        width: 100%;
    }
    .btnTamanioMobile {
        width: 45%;
        font-size: small;
    }
}

@media (min-width: 768px) {
    .miniaturaTamanioMD {
        width: 50%;
    }
}